footer {
  background-color: #710c04;
}

#footer_items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
}

#copyright {
  color: #f9f9f9;
  font-weight: 500;
}

.social-media-buttons {
  display: flex;
  gap: 18px;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #f9f9f9;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #710c04;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  #footer_items {
    flex-direction: column;
    gap: 20px;
  }
}
